extends pages/index
include mixins/field

block content
	h2 Account: #{name}
	div.box.sixtyforty
		section
			form(method='POST')
				+field('password', 'pass', 'Current Password')
				div.halves
					+field('password', 'newPass', 'New Password')
					+field('password', 'confirm')

				input.btn(type='submit', value='Send' style='margin-top: 10px')
		section.space
			p.
				You can #[em change] your password to the left.
			p.
				To modify or delete your classes, find them
				through search and open them in /edit.
