extends pages/index

block content
	div.box.sixtyforty
		section
			-
				var list = data.classlist,
					size = list.length,
					sum  = 0

			if (!size)
				p.shortInfo There are no students in this class

			else
				- for (var row of list) sum += row.mark
				table.highlight
					thead
						tr
							each value, key in list[0]
								th= key.title()
					tbody
						each entry in list
							tr
								each value in entry
									td= value
		section
			h2= cacheDB.course[data.course] +' '+ data.grade
			h3= data.teacher
			div.halves
				label
					p ID:       #{data.id}
					p Students: #{size}
					p Average:  #{Math.floor(sum / size)}%
				label
					p Teacher:  #{data.teacher}
					p Year:     #{data.year}
					p Grade:    #{data.grade}

			a.btn(href='/edit/#{data.id}', style='margin-right: 10px') Edit
			a.btn.warning(href='/delete/#{data.id}') Delete
