extends pages/index

block content
	if info
		div.box
			p.center= info
	else
		h2 #{docs.length} result#{docs.length != 1 ? 's' : ''}
		div.box.inline
			table.minimal
				thead
					tr
						th.center ID
						th Course
						th Teacher
						th Grade
						th Year
						if docs[0].classlist
							each row in docs[0].classlist
								th= row.student
				tbody
					each doc in docs
						tr
							td
								a.btn.tag(href='/view/#{doc.id}')= doc.id
							each key in ['Course.name', 'teacher', 'grade', 'year']
								- var value = eval('doc.' + key)
								td
									a.text(href='/search?q=#{query +", "+ value}')= value
							if docs[0].classlist
								each row in doc.classlist
									td= row.mark + '%'
