extends pages/index

block content
	div.box.halves
		label
			h3 Courses
			table.minimal
				thead
					tr
						th ID
						th Course
				tbody
					each name, id in cacheDB.course
						tr
							td= id
							td
								a(href='/search?q=#{id}')= name
		label.halves
			each list, name in { Teachers: cacheDB.teacher, Subjects: cacheDB.subject }
				label
					h3= name
					each item in list
						p
							a(href='/search?q=#{item}')= item
