// Tsapp Stylus

$accent      = #7596f5
$dark-accent = darken($accent, 10%) //#5a7ce6
$background  = #dcdcdc

$font-stack = 'Source Sans Pro', Helvetica, sans-serif

$nav-height = 42px
$spacing = 15px

/* ------------------------------
 * Defaults */

*
	box-sizing border-box
	margin 0
	padding 0

body
	background-color $background
	font 1em $font-stack
	line-height 1.5
	color #2f2f2f

h1, h2, h3, h4
	margin-bottom 10px

a, .link
	color #0089ec
	text-decoration none
	border-bottom 1px solid transparent

	&:hover, &:focus
		color lighten(@color, 25%)
		border-color @color

.text
	color inherit
p
	line-height 2

.container
	max-width 1080px
	margin 0 auto
	padding 0 2em

.box
	margin-bottom 20px
	background-color #fff
	padding 30px
	border-radius 2px
	box-shadow 0 2px 2px 0 #929292

.inline
	display inline-block
	min-width 60%

.space > *
	margin-bottom 20px

	&:last-child
		margin-bottom 0

.shortCentered
	max-width 80%
	margin-right auto
	margin-left auto

pre
	font-size 14px
	overflow auto
	margin-bottom 20px

.center
	text-align center

.headspace
	margin-top 5%

.section
	display inline-block

/* ------------------------------
 * Forms */

label
	display inline-block
	width 100%
	margin-bottom 20px
	vertical-align top

label span
	display block
	margin-bottom 5px

input, select, textarea
	width 100%
	display block
	background #fff
	border 1px solid #ccc
	border-radius 1px

input
	padding 7px
	font-size 15px
	font-family inherit

select
	padding 5px 10px
	font 15px $font-stack
	height 35px
	-webkit-appearance none
	-moz-appearance none
	appearance none

.pseudoarrow
	position relative

	&:after
		content '▼'
		position absolute
		//http://stackoverflow.com/questions/3680429/
		pointer-events none
		color #a8a8a8
		font-size 10px
		top 10px
		right 10px

.btn
	background $accent
	width auto
	line-height 35px
	border none
	border-radius 2px
	color #fff
	display inline-block
	padding 0 14px
	font-size 0.85em
	text-decoration none
	text-align center
	white-space nowrap
	cursor pointer

	&:hover, &:active
		color @color
		background $dark-accent

.btn.tag
	padding 4px 9px
	line-height normal

$horz = 30px

.halves > *
	width "calc(50% - %s / 2)" % $horz

	&:nth-child(odd)
		margin-right $horz

.sixtyforty > *
	display inline-block
	vertical-align top
	width 40%

	&:nth-child(odd)
		width 60%
		overflow-x auto
		padding-right $horz

.mono
	font-family monospace

.large
	width 100%
	padding 10px
	min-height 200px
	resize none

/* ------------------------------
 * Login */

#logo
	width 100px
	height 100px
	background-color $accent
	position relative
	overflow hidden
	margin 0 auto 30px // 30px to match .box padding
	border-radius 50%

	&:after
		content ''
		background-color #fff
		position absolute
		bottom 0
		width (@width / 2)
		height (@height / 2)
		border-radius 50%

.cookie
	text-align center
	margin-bottom 15px

	h2
		font-size 20px

	p
		color grey
		font-size 14px

.note
	padding 10px
	margin-bottom 15px
	box-shadow 0 2px 2px 0 #b8b8b8
	text-align center

	> *
		margin 0

.warning
	background #ff5656

.okay
	background #9dff6b

/* ------------------------------
 * Index */

header
	// Needs to be lightened since it's such a larger element
	background-color lighten($accent, 10%)
	padding $spacing 0
	border-bottom 1px solid #bdbdbd

#search
	max-width 60%
	height $nav-height
	background #fff
	border-radius 2px
	overflow-x auto

	> *
		margin 0
		border 0
		outline 0

$query-width = 60px

#query
	width 80%
	width "calc(100% - %s)" % $query-width
	height 100%
	padding 0 15px
	background none
	overflow-x auto

#query-tail
	width $query-width
	height 100%
	float right
	background-color transparent
	background url('../img/ico-search.svg') no-repeat 50% 50%
	background-size 16px 16px
	border-radius 0 2px 2px 0

nav
	width 200px
	margin-left $spacing
	color #fff
	background-color $dark-accent
	border-radius 2px
	float right

nav:hover
	border-radius 2px 2px 0 0

	> #dropdown
		display block

nav a
	/* Use mixins? */
	color inherit
	border 0

	&:hover
		color: inherit

#head
	display block
	line-height $nav-height
	padding 0 20px

ul
	list-style none

ul ul
	list-style square inside
	margin-left 10px

#dropdown
	position absolute
	z-index 10
	background-color inherit
	width inherit
	display none
	border-radius 0 0 2px 2px
	padding-top 10px
	border-top 5px solid $accent

li
	padding 5px 20px
	margin-bottom 5px

	&:hover
		background-color $accent

/* ------------------------------
 * Results */

table
	width 100%
	border-spacing 0
	display block
	overflow-x auto

table.minimal
	td, th
		width auto
		border none
		background none
		padding-left 0

	tr
		background none !important

tr
	background #f8f8f8

tr:nth-child(3n)
	background #fff

table.highlight tbody tr:hover
	background lighten($accent, 75%)

td, th
	color #333
	border-bottom 1px solid #d6d6d6
	padding 5px 12px
	padding-right 30px
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

th
	background lighten($accent, 30%)
	text-align left

	&:first-child
		width 100%
