include ../mixins/field

mixin select(list)
	option
	if list == 'course'
		each name, key in cacheDB[list]
			option(value= key selected= data.course == key)= name
	else
		each item in cacheDB[list]
			option(selected= data[list] == item)= item

case type
	when 'Subject'
		+field('text', 'name', 'Subject')

	when 'Teacher'
		+field('text', 'name', 'Last name')

		div.halves
			+field('password', 'pass', 'Password')
			+field('password', 'confirm')

	when 'Course'
		+field('text', 'name')

		div.halves
			+field('text', 'id', 'Course Code (ID)')
			+field('select', 'subject')

	when 'Class'
		div.halves
			+field('select', 'teacher')
			+field('select', 'course')

			+field('text', 'year')
			+field('text', 'grade')

		-
			var text = "X03KARI"
			         + "\nV141210    0207510913           95 90"
			         + "\nV141210    0207674910           80 78"
			         + "\nV141210    0207269590           92 60"

			if (data.classlist && data.classlist.constructor == Array) {
				var string = '',
					space  = '    '
				data.classlist.forEach(function(row) {
					string += row.student + space
					       +  row.mark    + space
					       +  row.exam    + '\n'
				})
				data.classlist = string
				data.regex = `(\\d{6,7})${space}(\\d{2})${space}(\\d{2})`
			}

		+field(null, 'classlist')
			textarea.large(name='classlist' placeholder= text)= data.classlist

		+field('text', 'regex')(class='mono' placeholder='([0-9]){6} ...')
