extends ../pages/index

block content
	h1 #{edit ? 'Edit' : 'New'} #{type}
	div.box.sixtyforty
		section
			form(method='POST')
				include forms
				input.btn(type='submit', value='Send' style='margin-top: 10px')
		section.space
			include notes
