case type
	when 'Subject'
		p.
			Try to keep the amount of subjects to a minimum. Consider a 'Misc'
			subject for courses with undefined or unclear subjects.

	when 'Teacher'
		p.
			The last name field is the teacher's username and will be written
			on all taught classes. It is a primary key and cannot be easily
			changed.
		p.
			Alphabetical characters, hyphens, and spaces are accepted.

	when 'Course'
		p.
			Please ensure the course name is grammatically correct and
			written without errors as it will be used for each uploaded
			class in its group.
		p.
			The course should be short and predictable. Ex: FD for
			Foundations. CALC for Calculus.

	when 'Class'
		p.
			Pasted class information is parsed as if it was an Integrade file.
			The default regular expression used by the parser is written below
			which extracts the student number, grade, and the mark for the
			final exam for each line.
		p.
			Regex is optional, if you include one it will be used to parse the
			document, say if you wanted to parse .csv files. It should match
			the same fields as the default Integrade expression.

		pre /([0-9]{6,7})\s+([0-9]{2})\s+([0-9]{2})/gm
