mixin field(type, name, title)
	-
		title = title || name.title()
		var attr = { name: name, id: name } // Defaults

	label(for= name)
		span= title
		unless block
			if attributes
				each val, key in attributes
					- attr[key] = val
			if type == 'select'
				div.pseudoarrow
					select&attributes(attr)
						+select(name)
			else
				input(type= type value= data[name])&attributes(attr)
		else
			block

//- Note: The +select here is from new/forms and breaks if loaded elsewhere
