extends layout

block page
	header
		div.container
			nav
				div#head= name
				ul#dropdown
					a(href='/account')
						li Account
					li New
					ul
						a(href='/new/class')
							li Class
						a(href='/new/course')
							li Course
						a(href='/new/teacher')
							li Teacher
						a(href='/new/subject')
							li Subject

					a(href='https://gitlab.com/nthm/tsapp/issues')
						li Issues
					a(href='/logout')
						li Logout

			form(id='search' action='/search', method='GET')
				input#query-tail(type='submit' value)
				input#query(type='text' placeholder='Search' name='q' value=query)

	div.container.space(style='margin: 40px auto')
		if note
			- var status = note.okay ? 'okay' : 'warning'
			div.note.shortCentered(class='#{status}')
				p= note.text

		if showInfo
			div.box.space
				h1 How to
				p.
					You can search for subjects, courses, teachers, or
					students above. List possible search terms by entering a
					blank search. Classes are the only type of data that can
					be edited or deleted. Your last viewed class will appear
					here.

		block content
