doctype html
html(lang='en')
	head
		title Transcripts
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		link(href='/css/index.css', rel='stylesheet', type='text/css')
	body
		block page
