extends layout

block page
	div.container.headspace(style='max-width: 350px')
		form.box.space(action='/auth', method='POST')
			div#logo
			if error
				div.note.warning
					p= error
			if name
				div.cookie
					h2= name
					p Last login: #{time}
					input(type='hidden' name='name' value='#{name}')
			else
				input(type='text' placeholder='Name', name='name')
			input(type='password' placeholder='Password', name='pass')
			input.btn(type='submit', value='Login')
